doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/p5.js")
    script(src="/javascripts/game.js")
  body
    block content
